#div_listar_relacionados {
	width: 975px;
	margin: 0 auto;
	padding: 0 60px 0 0;
}


a.titulo_post_relacionado {
font-family:Roboto,sans-serif;
font-weight:400;
font-size:1.4em;
text-decoration:none;
color:black;

}

a.titulo_post_relacionado:hover {
text-decoration:underline;
}

a.link_listar_relacionados {
color:white;
text-decoration:none;
}


a.link_listar_relacionados:hover {
text-decoration:underline;
}

p.titulo_relacionados {
width:1031px;
font-family:Roboto,sans-serif;
font-weight:400;
font-size:3em;
margin:0 auto;
}

ul.ul_lista_relacionados  {
margin:0px;
padding:0px;
}

li.lista_relacionados {
list-style-type:none;
padding-bottom:12px;
padding-top:12px;
padding-left:0px;
}

#box_titulo_post_relacionado {
padding-bottom:8px;
border-bottom-style:groove;
border-bottom-width:2px;
border-bottom-color:#FFF;
}

#section_relacionados {
background-color:#f4f4f4;
padding-top:15px;
padding-bottom:15px;
margin-top:60px;
}

#nav_relacionados {
line-height:27px;
font-family:verdana;
color:#384042;
width:975px;
background-color:#FFF;
padding-left:30px;
padding-right:30px;
margin:0 auto;
}



#tipo_post_relacionado {
font-size:0.8em;
font-family:Roboto,sans-serif;
font-weight:400;
}

#botao_listar_relacionados {
width:200px;
font-family:Roboto,sans-serif;
font-weight:400;
font-size:1.3em;
color:#FFF;
background-color:grey;
padding:10px;
}

.separador10px {
height:20px;
}

@media only screen and (max-width: 1150px) and (orientation:landscape),(max-width: 1150px) and (orientation:portrait) {


#div_listar_relacionados {
width:90%;
padding: 0 14px 0 0;
}

p.titulo_relacionados {
font-family:Roboto,sans-serif;
font-weight:400;
font-size:3em;
width:95%;
}

#nav_relacionados {
line-height:30px;
font-family:verdana;
color:#384042;
background-color:#FFF;
padding-left:7px;
padding-right:7px; 
width:90%; 
}

}
